.navbar-container {
  position: relative;
  overflow-x: hidden;
}

.nav-wave {
  width: 100%;
}

.nav-icon {
  width: 95px;
  margin-top: -15px;
}

.nav-row-container {
  position: absolute;
  width: 90%;
  display: flex;
  justify-content: space-between;
  color: #2c3a47;
  font-family: "Poppins", sans-serif;
  top: 40px;
  left: 40px;
}

.nav-head-text {
  font-size: 44px;
  margin-top: -10px;
  font-weight: 500;
}

/* Nav icon animation */
.nav-image-container {
  position: relative;
}

.nav-image-container img {
  position: absolute;
  right: 0px;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.hidden {
  opacity: 0 !important;
}

@media only screen and (max-width: 600px) {
  .nav-wave {
    height: 200px;
    width: unset;
  }

  .nav-row-container {
    left: 20px;
  }

  .nav-head-text {
    font-size: 40px;
    margin-top: -10px;
  }

  .nav-icon {
    width: 75px;
    margin-top: -15px;
  }
}
