.loginBlob-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.blob {
  width: 260px;
  transition: all 0.5s;
  animation: rotation 5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.google-icon {
  position: absolute;
  top: 80px;
  width: 85px;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
  border: none;
  text-decoration: none;
  transform: scale(1.1);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.google-icon:hover {
  transform: scale(1.22);
  outline: none !important;
  border: 0 !important;
}

.blob:hover {
  transform: scale(1.1);
}

.google-icon:active,
.blob:active,
.blob:focus,
.google-icon:focus {
  outline: none !important;
  border: none !important;
}
